<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="InvalidUsernameInvalidPassword">
	<parameter name="username1" value="tutorial123"></parameter>
	<parameter name="password1" value="tutorial123"></parameter>
    <classes>
      <class name="com.pom_with_pageFactory_MercuryTours.Scripts.LoginTest_xml"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ValidUsernameInvalidPassword">
	<parameter name="username1" value="tutorial"></parameter>
	<parameter name="password1" value="tutorial123"></parameter>
    <classes>
      <class name="com.pom_with_pageFactory_MercuryTours.Scripts.LoginTest_xml"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="InvalidUsernameValidPassword">
	<parameter name="username1" value="tutorial123"></parameter>
	<parameter name="password1" value="tutorial"></parameter>
    <classes>
      <class name="com.pom_with_pageFactory_MercuryTours.Scripts.LoginTest_xml"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ValidUsernameValidPassword">
	<parameter name="username1" value="tutorial"></parameter>
	<parameter name="password1" value="tutorial"></parameter>
    <classes>
      <class name="com.pom_with_pageFactory_MercuryTours.Scripts.LoginTest_xml"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
